@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;400&display=swap');

/* Variables */

$color-golden: #ffc107;
$color-light: #f8f9fa;

$font-family-roboto: 'Roboto', serif;
$font-family-nunito: "Nunito Sans", sans-serif;
$font-family-sans: "Open Sans", sans-serif;
$font-family-imperial: "Imperial Script", cursive;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: $font-family-sans;
}


/* Splash */

.splash {
    background: url('./../images/pexels-knownasovan-57690.jpg') 0/cover no-repeat;
    height: 100vh;
    max-height: 500px;
    position: relative;

    .layer {
        top: 0;
        left: 0;
        bottom: 0; 
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
     
        .golden {
            color: $color-golden;
            font-family: $font-family-imperial;
            font-size: 38px;
        }
    
        .nav-links {
            font-family: $font-family-roboto;
            
            li {
                display: inline-block;
                padding: 5px 15px;
                font-weight: 500;
                color: $color-light;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    color: $color-golden;
                }
            }        
        }
    
        .splash-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            color: $color-light;

            .page-subtitle {
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                font-weight: 300;
                text-transform: capitalize;
                font-size: 2.2rem;
                line-height: .5;
            }

            .page-title {
                font-size: 3rem;
                font-weight: bold;
                line-height: .7;
            }

            .btn {
                margin-top: 5px;
                padding: 15px 20px;
                border: 1px solid $color-golden;
                background: $color-golden;
                color: $color-light;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }
            }
        }
    
    }
}